body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

html{
    scroll-behavior:smooth;
}

.fullVh{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
}

.overflow{
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
}

.trait{
    background-color: #FBFBFB;
    transition: all 1.5s ease-in-out;
}

/* ======================*/
/* NavBar START */

#navBar{
    position: fixed;
    top: 2.6042vw;
    left: 0;
    right: 0;
    z-index: 100;
}

#navBar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5625vw;
    height: 50px;
    overflow: hidden;
}

li{
    list-style: none;
}

.trait_nav_bar{
    height: 0px;
    width: 1px;
    background-color: #D4D4D4;
    transition: all 1.5s ease-in-out;
}

.li_btn_nav_bar{
    transition: all 1.5s ease-in-out;
    transform: translateY(-130%);
    opacity: 0;
}

.li_btn_nav_bar_slow{
    transition: all 1.1s ease-in-out;
    transform: translateY(-130%);
    opacity: 0;
}

.btn_nav_bar{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    color: #FBFBFB;
    text-decoration: none;
    cursor: pointer;
}

/* NavBar End */
/* ========================
/* Home Start */

.title_home{
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 6.25rem;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba(251, 251, 251, 0.7);
    margin: 0;
    transition: all 1.5s ease-in-out;
    transform: translateY(130%);
    opacity: 0;
}

#trait_home{
    width: 0px;
    height: 3px;
    background-color: #FBFBFB;
    transition: all 1.5s ease-in-out;
}

#title_home_2{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 300;
    font-size: 3.125rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: rgba(251, 251, 251, 0.7);
    transition: all 1.5s ease-in-out;
    transform: translateY(-130%);
    opacity: 0;
}

/* Home End */
/* =======================
/* Presentation START */

#trait_presentation_top_left{
    position: absolute;
    width: 50px;
    height: 10px;
}

/* Presentation END */